import(rlang,   except=c(hash))
import(stringr)
import(shiny,   except=c(runExample))
import(shinyjs, except=c(runExample, alert))
import(htmltools)
import(bslib)
import(shinyWidgets)
import(shinydashboard)
import(hash)
importFrom("grDevices", "col2rgb")
importFrom("utils", "getFromNamespace", "packageName")

exportPattern("make.+")
exportPattern("JGG.+")
exportPattern("WDG.+")
exportPattern("gui.+")
exportPattern("upd.+")
exportPattern("bs.+")
